.menu-top.toplevel_page_convertflow img {
	padding: 6px 0 0 !important;
	height: 20px;
}

body.toplevel_page_convertflow {
	background-color: #fff;
}

.convertflow input {
	width: 300px;
	max-width: 90%;
}

.convertflow input + img {
	display: none;
}

.convertflow[data-status="success"] input + img {
	display: inline-block;
}

.convertflow[data-status="success"] button {
	display: none;
}

.convertflow .success-message,
.convertflow .error-message {
	display: none;
}

.convertflow[data-status="success"] .success-message {
	display: block;
}

.convertflow[data-status="error"] .error-message {
	display: block;
}

.convertflow button img {
	display: none;
	margin-bottom: -2px;
}

.convertflow button.running img {
	display: inline-block;
}
